# FastAPI and Server
fastapi
uvicorn[standard]
python-multipart

# Database
motor
pydantic[email]
pydantic-settings

# Security
passlib==1.7.4
bcrypt==4.1.0
python-jose[cryptography]

# Configuration
python-dotenv

# Machine Learning
# Install these separately if you have issues
# deeplabcut
# ultralytics # For YOLO

# Image Processing
opencv-python-headless
Pillow
tensorflow

# --- Add this line to fix the error ---
slowapi